.product-register {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--background-light);
    
    &__header{
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2.6rem 0;
        border-bottom: 1px solid #000000;

        h2 {
            font-size: 2.4rem;
            font-weight: 500;
        }
    }

    &__form {
        padding: 4.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4rem 0;
        gap: 2rem;
    }
}
