<form  [formGroup]="registerProductForm">
    <dev-input 
        [inputLabel]="'ID'"
        [inputId]="'id'"
        [type]="'text'"
        [formControlName]="'id'"
    />
    <dev-input 
        [inputLabel]="'Nombre'"
        [inputId]="'name'"
        [type]="'text'"
        [formControlName]="'name'"
    />
    <dev-input 
        [inputLabel]="'Descripción'"
        [inputId]="'description'"
        [type]="'text'"
        [formControlName]="'description'"
    />
    <dev-input 
        [inputLabel]="'Logo'"
        [inputId]="'logo'"
        [type]="'text'"
        [formControlName]="'logo'"
    />
    <dev-input 
        [inputLabel]="'Fecha Liberación'"
        [inputId]="'date_release'"
        [type]="'date'"
        [formControlName]="'date_release'"
    />
    <dev-input 
        [inputLabel]="'Fecha Revisión'"
        [inputId]="'date_revision'"
        [type]="'date'"
        [formControlName]="'date_revision'"
    />
</form>
